body:global {
  background-color: #305a79;
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: auto;
}

.fieldset {
  background-color: white;
  border: 1px solid #004070;
}

.title {
  color: white;
  background-color: #305a79;
  padding: 0.3rem 1rem;
  border: 1px solid #334070;
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.3);
}

.submitButton{
  float:right;
  background-color: #305a79;
  border: 1px solid #334070;
  box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.3);
  font-size: 1.1rem;
  color: white;
  margin: .25rem 0.5rem;
  padding: .2rem 1rem;
  box-sizing: border-box;
}