function App(props) {
  return (
    <div>
      <h1 style={{
        color: '#f2621c',
        textShadow: '2px 2px 0 black',
        paddingBottom: 20,
        borderBottom: '1px solid #f2621c',
      }}>{props.title}</h1>
      <h3>This is React!</h3>
      <p>These slides are written in React.</p>
      <i>Check out Spectacle!</i>
    </div>
  );
}

render(<App title="Hello MCC!" />, mountNode);