/* classic css */

form legend {
  border:1px solid #999;
  position:relative;
  background-color:#ffffff;
  padding:3px; margin-left:5px;
  -moz-box-shadow: 3px 2px 5px #666;
  -webkit-box-shadow: 3px 2px 5px #666;
  box-shadow: 3px 2px 5px #666;
}
form label input, form label textarea {
  margin:0 5px; width:95%;
}
form [type=submit] {
  float:right; margin-right:15px;
}