const ContactForm = ({name, phone, email, comments}) => {
    return (<form method="post">
        <fieldset>
          <legend>Contact Us</legend>
          Name: <input
            required
            placeholder="John Doe"
            value={name}
          />
          Phone: <input
            placeholder="555-555-5555"
            value={phone}
          />
          Email: <input
            placeholder="example@email.com"
            value={email}
          />
          Comments: <textarea
            required
          >{comments}</textarea>
          <button>
            Submit
          </button>
        </fieldset>
      </form>);
};

const state = {
  name: null,
  email: null,
  phone: null,
  comments: null,
  errors: {
    name:'',
    comments:''
  }
};

render(<ContactForm {...state} />, mountNode);