/* Syntactically Awesome StyleSheets (SASS) */

.contact-form {
  &-legend {
    border:1px solid #999;
    position:relative;
    background-color:#ffffff;
    padding:3px; margin-left:5px;
    @include box-shadow(3px 2px 5px #666);
  }

  &-input {
    margin:0 5px; width:95%;
    
    &-error {
      border: 1px solid red;
    }
  }

  &-submit-button {
    float:right; margin-right:15px;
  }
}