const Container = styled.div`
  font-family: 'Press Start 2P', cursive;
  padding: 2rem;
  color: white;
  border: 2px solid white;
  box-shadow: 5px 5px 0 black;
  font-size: ${props => props.big ? '1.75rem' : '1.2rem'};
  background-color: ${props => props.backgroundColor || '#f2621c'};
  width: ${props => props.width};
  &:hover {
    background-color: #334f99;
  }
`;