body:global {
  /* selector: body */
  background-color: #305a79;
  font-family: Arial, sans-serif;
}

.container {
  /* selector: style---container---1_mx9 */
  width: 300px;
  margin: auto;
}

.fieldset {
  /* selector: style---fieldset---2pcf1 */
  background-color: white;
  border: 1px solid #004070;
}
